@font-face {
  font-family: "Meiryo";
  src: url("/fonts/Meiryo.eot");
  /* IE9 */
  src: url("/fonts/Meiryo.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
  url("/fonts/Meiryo.woff") format("woff"), /* chrome, firefox */
  url("/fonts/Meiryo.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url("/fonts/Meiryo.svg#Meiryo") format("svg");
  /* iOS 4.1- */
  font-style: normal;
  font-weight: normal;
}

html.page-home {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('../images/bg.jpg');
  background-color: transparent;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

}
div[data-type="listing"] pre {
  background-color: #f1f1f1;
  padding: 1rem;
}
div[data-type="note"] {
  background-color: #ffedcc;
  margin: 1rem 2rem;
  padding: 0 1em 1em 1em;
}
div[data-type="tip"] {
  background-color: #dbfaf4;
  margin: 1rem 2rem;
  padding: 0 1em 1em 1em;
}
ul{
  list-style-type: square;
  color: #17a2b8;
  box-sizing: border-box;
}
div[data-type="warning"] h1 {
  background-color: #f29f97;
}
div[data-type="tip"] h1 {
  background-color: #1abc9c;
}
div[data-type="note"] h1 {
  background-color: #f0b37e;
}
div[data-type="tip"] h1, div[data-type="note"] h1, div[data-type="warning"] h1 {
  color: #fff;
  font-size: 1rem;
  margin: 0 -1em;
  padding: 0.5em 1em;
}
